<div id='container'>
  <div class='signup_create_product'>


<h1>Create a new product</h1>
      <%= simple_form_for @product do |f| %>
       <%= f.input :product_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "product_name" }%>

    <%= f.input :description,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "description" }%>

    <%= f.input :condition,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "condition" }%>

         <div class="form-actions">
                <%= f.button :submit, "Submit" %>
              </div>
            <% end %>


  </div>
  <div class='whysign'>
    <h1>Share your beloved products with all over the world!</h1>
    <p>This is an airbnb style platform that you can create your own products and sell it or purchase from all over the world!</p>

    <i class="fas fa-home"></i><%= link_to 'home',root_path  %>


</div>

  </div>






